server:
  port: 8081

spring:
  r2dbc:
    url: r2dbc:h2:mem:///testdb
    username: sa
    password: password
    pool:
      enabled: true

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

logging:
  level:
    org.springframework.jdbc.core.JdbcTemplate: TRACE
